// Variables
@uwkuipath: '../less/';

@import "@{uwkuipath}base/variables.less";
@import "@{uwkuipath}base/font.less";

// Mixins
@import "@{uwkuipath}base/mixins.less";

// Normalize & Base CSS
@import "@{uwkuipath}base/rem.less";
@import "@{uwkuipath}base/normalize.less";
@import "@{uwkuipath}base/layout.less";

// lib
@import "@{uwkuipath}lib/uicon.less";
@import "@{uwkuipath}lib/pages.less";
@import "@{uwkuipath}lib/bars.less";
@import "@{uwkuipath}lib/tags.less";
@import "@{uwkuipath}lib/btns.less";
@import "@{uwkuipath}lib/tabs.less";

@import "@{uwkuipath}lib/grid.less";
@import "@{uwkuipath}lib/lists.less";
@import "@{uwkuipath}lib/cards.less";
@import "@{uwkuipath}lib/forms.less"; 

@import "@{uwkuipath}lib/loader.less";
@import "@{uwkuipath}lib/modal.less";
@import "@{uwkuipath}lib/popup.less";
@import "@{uwkuipath}lib/msg.less";

@import "@{uwkuipath}lib/border.less";
@import "@{uwkuipath}lib/text.less";
@import "@{uwkuipath}lib/animate.less";

@import "@{uwkuipath}base/base.less";

//导航
.bar-footer .tab-item {
    .tab-icon {
        font-size: 1.1rem;
    }
    &.active {
        border-bottom-color: transparent;
        .tab-icon {
            display: none;
        }
        [class$="-fill"] {
            display: block;
        }
    }
}

/* 轮播 / tab 滑动切换样式 */
.slider-cont, .tab-cont {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider-content {
    img {
        width: 100%;
        display: block;
    }
}
.slider-indicators {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    li {
        display: inline-block;
        font-size: 0;
        width: .3rem; height: .3rem;
        background-color: rgba(0, 0, 0, .3);
        border-radius: .3rem;
        margin-right: .3rem;
        &.active {
            background-color: @color-primary;
        }
    }
}

//商品列表样式
.prd-item {
    background-color: @color-bg-gray;
    font-size: @font-size-small;
    .align-items(flex-start);
    .item-subtitle {
        font-size: @font-size-small;
    }
    .item-desc {
        font-size: @font-size-mini;
    }
    &.bg-light {
        background-color: @color-light;
    }
}
.list-title + .prd-item:before,
.prd-item + .list-tips:before {
    display: none;
}